{% extends 'base.html.twig' %}

{% block title %}Giriş{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Giriş Yap</h1>

                <div class="form-group">
                    <label for="inputEmail">E-posta</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Şifre</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary" type="submit">Giriş</button>
                <a href="{{ path('app_register') }}" class="btn btn-lg btn-success float-right">Kayıt Ol</a>
            </form>

        </div>
    </div>
{% endblock %}
