{% extends 'base.html.twig' %}

{% block title %}Kayıt Ol{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1 class="h3 mb-3 font-weight-normal">Kayıt Ol</h1>

            {{ form_start(registrationForm,{attr: {novalidate: 'novalidate'}}) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.surname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            <button type="submit" class="btn btn-primary">Kayıt</button>
            <a href="{{ path('web_home') }}" class="btn btn-warning float-right">Anasayfa</a>
            {{ form_end(registrationForm) }}


        </div>
    </div>
{% endblock %}
