{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'Siparişler' }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <h4 class="mb-4">Siparişlerim</h4>
    <div class="row">
        <div class="col-md-12">
            {% if orders %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Sipariş Sahibi</th>
                            <th>Sipariş Numarası</th>
                            <th>Sipariş Durumu</th>
                            <th>Sipariş Tarihi</th>
                            <th>Ödeme Tipi</th>
                            <th>Ürün Adeti</th>
                            <th>Sipariş Tutarı</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.name }} {{ order.surname }}</td>
                                <td>{{ order.order_no }}</td>
                                <td>
                                    {% if order.status is null %}
                                        {% set class,text = 'warning','Onay Bekliyor' %}
                                    {% elseif order.status %}
                                        {% set class,text = 'success','Onaylandı' %}
                                    {% else %}
                                        {% set class,text = 'danger','Onaylanmadı' %}
                                    {% endif %}
                                    <span class="badge badge-{{ class }} p-2">{{ text }}</span>
                                </td>
                                <td>{{ order.createdAt ? order.createdAt|date('d.m.Y') : '' }}</td>
                                <td>{{ order.payment_type == 'pay_at_the_door' ? 'Kapıda Ödeme' : 'Diğer' }}</td>
                                <td>{{ order.piece }}</td>
                                <td>{{ order.total_price|number_format(2,',','.') }} {{ currency_unit() }}</td>
                                <td style="width: 150px">
                                    <a href="{{ path('admin_order_detail',{'order_no':order.order_no}) }}" class="btn btn-sm btn-info" title="Görüntüle"><i class="fa fa-eye"></i></a>
                                    {% if order.status is null %}
                                        <a href="{{ path('admin_order_approve',{'order_no':order.order_no}) }}" class="btn btn-sm btn-success" title="Onayla"><i class="fa fa-check"></i></a>
                                        <a href="{{ path('admin_order_reject',{'order_no':order.order_no}) }}" class="btn btn-sm btn-danger" title="Reddet"><i class="fa fa-times"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning m-0">Siparişini bulunmamaktadır.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
