{% extends 'web/layout/base.html.twig' %}

{% block title %}{{ 'Sepetim' }}{% endblock %}

{% block body %}
    {% if baskets %}
        <div class="row">
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Ürün</th>
                            <th>Adet</th>
                            <th>Toplam</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for basket in baskets %}
                            {% set total = total + basket.product.price * basket.piece %}
                            <tr>
                                <td>
                                    <a href="{{ path('web_product_show',{'slug':basket.product.slug}) }}" target="_blank" class="text-dark">{{ basket.product.name }}</a>
                                </td>
                                <td style="width: 150px">
                                    <form class="m-0" id="addBasketForm" method="post">
                                        <input type="hidden" name="product_id" value="{{ basket.product.id }}">
                                        <input type="number" id="piece" name="piece" class="form-control" max="{{ basket.product.stock }}" step="1" min="1" value="{{ basket.piece }}">
                                    </form>
                                </td>
                                <td>{{ (basket.product.price * basket.piece)|number_format(2,',','.') }} {{ currency_unit() }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger basket_delete" data-id="{{ basket.id }}">Sil</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex justify-content-around flex-column h-100">
                    <div>
                        <h5>Toplam</h5>
                        <h4 class="text-danger">{{ total|number_format(2,',','.') }} {{ currency_unit() }}</h4>
                    </div>
                    <a href="{{ path('web_order_checkout') }}" class="btn btn-success btn-block">Siparişi Ver</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning m-0">{{ app.user.fullName }}, sepetin şu an boş. Doldurmaya ne <a href="{{ path('web_home') }}">dersin</a>.</div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        const urls = {
            updatePiece: "{{ path('web_basket_piece_update') }}",
            deleteBasket: "{{ path('web_basket_delete') }}",
        };

        $(document).ready(function () {

            const basketItemPiece = $('#basketItemPiece');
            const addBasketForm = $('#addBasketForm');
            const deleteButton = $('.basket_delete');
            const piece = $('#piece');

            deleteButton.on('click', function () {
                let button = $(this);
                $.ajax({
                    type: 'POST',
                    url: urls.deleteBasket,
                    data: {basket_id: button.data('id')},
                    success: function (data) {
                        if (!data.status) return toastr.error(data.message);
                        toastr.success(data.message);
                        setTimeout(() => location.reload(), 1000)
                    },
                })
            });


            piece.on('change', function () {
                $.ajax({
                    type: 'POST',
                    url: urls.updatePiece,
                    data: addBasketForm.serialize(),
                    success: function (data) {
                        if (!data.status) return toastr.error(data.message);
                        toastr.success(data.message);
                        setTimeout(() => location.reload(), 1000)
                    },
                })
            });

        });
    </script>
{% endblock %}