{% extends 'web/layout/base.html.twig' %}

{% block title %}{{ 'Sipariş Detayları' }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h4 class="mb-4">{{ order.orderNo }} numaralı sipariş</h4>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                <tr>
                    <th>Sipariş Numarası</th>
                    <td>{{ order.orderNo }}</td>
                </tr>
                <tr>
                    <th>Sipariş Durumu</th>
                    <td>
                        {% if order.status is null %}
                            {% set class,text = 'warning','Onay Bekliyor' %}
                        {% elseif order.status %}
                            {% set class,text = 'success','Onaylandı' %}
                        {% else %}
                            {% set class,text = 'danger','Onaylanmadı' %}
                        {% endif %}
                        <span class="badge badge-{{ class }} p-2">{{ text }}</span>
                    </td>
                </tr>
                <tr>
                    <th>Sipariş Tarihi</th>
                    <td>{{ order.createdAt ? order.createdAt|date('d.m.Y') }}</td>
                </tr>
                <tr>
                    <th>Ödeme Tipi</th>
                    <td>{{ order.paymentType == 'pay_at_the_door' ? 'Kapıda Ödeme' : 'Diğer' }}</td>
                </tr>
                <tr>
                    <th>Sipariş Adresi</th>
                    <td>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Adı Soyadı</th>
                                <td>{{ order.address.name }} {{ order.address.surname }}</td>
                            </tr>
                            <tr>
                                <th>İl</th>
                                <td>{{ order.address.city }}</td>
                            </tr>
                            <tr>
                                <th>İlçe</th>
                                <td>{{ order.address.district }}</td>
                            </tr>
                            <tr>
                                <th>Adres</th>
                                <td>{{ order.address.address|raw }}</td>
                            </tr>
                            <tr>
                                <th>Adres Adı</th>
                                <td>{{ order.address.addressName }}</td>
                            </tr>
                            <tr>
                                <th>Telefon</th>
                                <td>{{ order.address.phone }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Ürünler</th>
                    <td>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ürün</th>
                                <th>Adet</th>
                                <th>Toplam</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set total = 0 %}
                            {% for orderProduct in order.orderProducts %}
                                {% set total = total + orderProduct.price %}
                                <tr>
                                    <td>
                                        <a href="{{ path('web_product_show',{'slug':orderProduct.product.slug}) }}" target="_blank" class="text-dark">{{ orderProduct.product.name }}</a>
                                    </td>
                                    <td>{{ orderProduct.piece }}</td>
                                    <td>{{ orderProduct.price|number_format(2,',','.') }} {{ currency_unit() }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Sipariş Tutarı</th>
                    <td>{{ total|number_format(2,',','.') }} {{ currency_unit() }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
