{% extends 'web/layout/base.html.twig' %}

{% block title %}{{ 'Sepetim' }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h4>İletişim Bilgileri</h4>
            <form action="{{ path('web_order_new') }}" method="post" id="orderAddForm">
                <div class="form-group">
                    <label for="name">Ad</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="surname">Soyad</label>
                    <input type="text" class="form-control" id="surname" name="surname">
                </div>
                <div class="form-group">
                    <label for="city">İl</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group">
                    <label for="district">İlçe</label>
                    <input type="text" class="form-control" id="district" name="district">
                </div>
                <div class="form-group">
                    <label for="address">Adres</label>
                    <textarea name="address" id="address" cols="10" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="address_name">Adres Adı</label>
                    <input type="text" class="form-control" id="address_name" name="address_name">
                </div>
                <div class="form-group">
                    <label for="phone">Telefon</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
                <h4>Ödeme Seçenekleri</h4>
                <div class="form-group form-check">
                    <input type="radio" class="form-check-input" id="pay_at_the_door" name="payment_type" value="pay_at_the_door" checked>
                    <label class="form-check-label" for="pay_at_the_door">Kapıda Ödeme</label>
                </div>
                <button type="submit" class="btn btn-success">Siparişi Tamamla</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Ürün</th>
                        <th>Adet</th>
                        <th>Toplam ({{ currency_unit() }})</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total = 0 %}
                    {% for basket in baskets %}
                        {% set total = total + basket.product.price * basket.piece %}
                        <tr>
                            <td><a href="{{ path('web_product_show',{'slug':basket.product.slug}) }}" target="_blank">{{ basket.product.name }}</a></td>
                            <td>{{ basket.piece }}</td>
                            <td>{{ (basket.product.price * basket.piece)|number_format(2,',','.') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <div>
                    <h5>Toplam</h5>
                    <h4 class="text-danger">{{ total|number_format(2,',','.') }} {{ currency_unit() }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/localization/messages_tr.min.js"
            integrity="sha512-rWj/F+JtHj3bknzoCOWaXAh30MHQGMfQrZXNn2Vaa28AVv1+dZQYOPT1rqCZ5soi2koqVn60aLyxN1xwXWLNxw==" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#orderAddForm").validate({
                rules: {
                    // simple rule, converted to {required:true}
                    name: "required",
                    surname: "required",
                    city: "required",
                    district: "required",
                    address: "required",
                    address_name: "required",
                    phone: {
                        required: true,
                        phoneUS: true
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        })
    </script>
{% endblock %}
