{% extends 'web/layout/base.html.twig' %}

{% block title %}{{ 'Siparişlerim' }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h4 class="mb-4">Siparişlerim</h4>
    <div class="row">
        <div class="col-md-12">
            {% if orders %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Sipariş Numarası</th>
                            <th>Sipariş Durumu</th>
                            <th>Sipariş Tarihi</th>
                            <th>Ödeme Tipi</th>
                            <th>Ürün Adeti</th>
                            <th>Sipariş Tutarı</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.order_no }}</td>
                                <td>
                                    {% if order.status is null %}
                                        {% set class,text = 'warning','Onay Bekliyor' %}
                                    {% elseif order.status %}
                                        {% set class,text = 'success','Onaylandı' %}
                                    {% else %}
                                        {% set class,text = 'danger','Onaylanmadı' %}
                                    {% endif %}
                                    <span class="badge badge-{{ class }} p-2">{{ text }}</span>
                                </td>
                                <td>{{ order.createdAt ? order.createdAt|date('d.m.Y') : '' }}</td>
                                <td>{{ order.payment_type == 'pay_at_the_door' ? 'Kapıda Ödeme' : 'Diğer' }}</td>
                                <td>{{ order.piece }}</td>
                                <td>{{ order.total_price|number_format(2,',','.') }} {{ currency_unit() }}</td>
                                <td><a href="{{ path('web_order_detail',{'order_no':order.order_no}) }}">Sipariş Detayı</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning m-0">Siparişini bulunmamaktadır.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
