@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    background: #E7EAFB;
    color: #111127;
}

main {
    background: #fff;
    border-radius: 8px;
}

.bg-purple {
    background: #6778E1;
}

.bg-purple-100 {
    background: rgba(255, 255, 255, .25);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

img {
    width: 100%;
}

.form-control.error {
    border: 1px solid red;
}

.error {
    color: red;
}
