<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Admin{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ include('admin/layout/header.html.twig') }}
<main class="container pt-4 pb-4 mb-4 shadow">
    {% if app.session.flashBag %}
        <div class="row">
            <div class="col-md-12">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success fade show">{{ flash }}</div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger fade show">{{ flash }}</div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/js/custom.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>