<header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-purple">
        <div class="container p-0">
            <a class="navbar-brand bg-purple-100 pl-2 pr-2 rounded" href="{{ path('admin_home') }}">Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('brand_index') }}">Markalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_index') }}">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_order_list') }}">Siparişler</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn text-white bg-purple-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.email }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('web_home') }}" target="_blank">Siteye Git</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Oturumu Kapat</a>
                </div>
            </div>
        </div>
    </nav>
</header>