<form method="post" action="{{ path('product_delete', {'id': product.id}) }}" onsubmit="return confirm('Bu öğeyi silmek istediğinizden emin misiniz?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger">Sil</button>
</form>
