{% extends 'admin/layout/base.html.twig' %}

{% block title %}Ürün Düzenle{% endblock %}

{% block body %}
    <h4 class="mb-0"><b>{{ product.name }}</b> isimli ürünü düzenliyorsunuz.</h4>
    <hr>
    {{ include('admin/product/_form.html.twig', {'button_label': 'Güncelle'}) }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
{% endblock %}
