{% extends 'admin/layout/base.html.twig' %}

{% block title %}Ürünler{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex justify-content-start align-items-center">
            <h4 class="mb-0">Ürünler</h4>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a href="{{ path('product_new') }}" class="btn bg-purple text-white font-weight-bold">Yeni Ürün</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover w-100" id="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Marka</th>
                <th>Ad</th>
                <th>Durum</th>
                <th>Kod</th>
                <th>Birim Fiyat <small>(TL)</small></th>
                <th>Stok <small>(Adet)</small></th>
                <th>İşlemler</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.brand ? product.brand.name : 'Diğer' }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        <span class="badge badge-{{ product.status ? 'success' : 'danger' }} p-2">{{ product.status ? 'Aktif' : 'Pasif' }}</span>
                    </td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.price|number_format(2, ',', '.') }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <a href="{{ path('product_show', {'id': product.id}) }}">Görüntüle</a>
                        <a href="{{ path('product_edit', {'id': product.id}) }}">Düzenle</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">
                        <div class="alert alert-danger mb-0">
                            <p class="m-0">Sistemde ürün bulunmuyor.Eklemek için <a href="{{ path('product_new') }}">tıklayınız.</a></p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8"><span><b>Toplam Ürün Çeşidi :</b> {{ products.getTotalItemCount }} Adet</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(products) }}
    </div>

{% endblock %}