{% extends 'admin/layout/base.html.twig' %}

{% block title %}Ürün Ekle{% endblock %}

{% block body %}
    <h4 class="mb-4">Ürün Ekle</h4>
    {{ include('admin/product/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
{% endblock %}