{% extends 'admin/layout/base.html.twig' %}

{% block title %}Ürün | {{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex justify-content-start align-items-center">
                    <h4 class="mb-0">{{ product.name }}</h4>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary mr-2">Düzenle</a>
                    {{ include('admin/product/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home" aria-selected="true">Genel Bilgiler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#description" role="tab" aria-controls="profile" aria-selected="false">Açıklama</a>
                    </li>
                </ul>
                <div class="tab-content p-4" id="myTabContent">
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Resim</th>
                                <td><img src="{{ product.image ? asset('uploads/image/' ~ product.image) : asset('assets/img/noimage.png') }}" alt="{{ product.name }}" style="width: 200px"></td>
                            </tr>
                            <tr>
                                <th>Marka</th>
                                <td>{{ product.brand ? product.brand.name : 'Tanımlı Değil' }}</td>
                            </tr>
                            <tr>
                                <th>Ad</th>
                                <td>{{ product.name }}</td>
                            </tr>
                            <tr>
                                <th>Url</th>
                                <td>{{ product.slug }}</td>
                            </tr>
                            <tr>
                                <th>Kod</th>
                                <td>{{ product.code }}</td>
                            </tr>
                            <tr>
                                <th>Birim Fiyat <small>(TL)</small></th>
                                <td>{{ product.price|number_format(2, ',', '.') }}</td>
                            </tr>
                            <tr>
                                <th>Stok <small>(Adet)</small></th>
                                <td>{{ product.stock }}</td>
                            </tr>
                            <tr>
                                <th>Durum</th>
                                <td>{{ product.status ? 'Aktif' : 'Pasif' }}</td>
                            </tr>
                            <tr>
                                <th>Eklenme Tarihi</th>
                                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Güncelenme Tarihi</th>
                                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="profile-tab">
                        <p>{{ product.description|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
