<header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-purple">
        <div class="container p-0">
            <a class="navbar-brand bg-purple-100 pl-2 pr-2 rounded" href="{{ path('web_home') }}">Web</a>
            {% if app.user %}
                <div class="d-flex justify-content-end align-items-center">
                    {{ render(path('web_basket_piece_total')) }}
                    <div class="dropdown">
                        <button class="btn text-white bg-purple-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.fullName }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('admin_home') }}">Kontrol Paneli</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('web_order_list') }}">Siparişlerim</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Oturumu Kapat</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn bg-purple-100 text-white">Giriş Yap</a>
            {% endif %}

        </div>
    </nav>
</header>