{% extends 'admin/layout/base.html.twig' %}

{% block title %}Marka Düzenle{% endblock %}

{% block body %}
    <h4 class="mb-0"><b>{{ brand.name }}</b> isimli markayı düzenliyorsunuz.</h4>
    <hr>
    {{ include('admin/brand/_form.html.twig', {'button_label': 'Güncelle'}) }}
{% endblock %}