{% extends 'admin/layout/base.html.twig' %}

{% block title %}Markalar{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex justify-content-start align-items-center">
            <h4 class="mb-0">Markalar</h4>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a href="{{ path('brand_new') }}" class="btn bg-purple text-white font-weight-bold">Yeni Marka</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover w-100" id="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Ürün Sayısı</th>
                <th>İşlemler</th>
            </tr>
            </thead>
            <tbody>
            {% for brand in brands %}
                <tr>
                    <td>{{ brand.id }}</td>
                    <td>{{ brand.name }}</td>
                    <td>{{ brand.product.count }}</td>
                    <td>
                        <a href="{{ path('brand_show', {'id': brand.id}) }}">Görüntüle</a>
                        <a href="{{ path('brand_edit', {'id': brand.id}) }}">Düzenle</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

