{% extends 'admin/layout/base.html.twig' %}

{% block title %}Marka Ekle{% endblock %}

{% block body %}
    <h4 class="mb-4">Marka Ekle</h4>
    {{ include('admin/brand/_form.html.twig') }}
{% endblock %}
