{% extends 'admin/layout/base.html.twig' %}

{% block title %}Marka |{{ brand.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex justify-content-start align-items-center">
                    <h4 class="mb-0">{{ brand.name }}</h4>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <a href="{{ path('brand_edit', {'id': brand.id}) }}" class="btn btn-primary mr-2">Düzenle</a>
                    {{ include('admin/brand/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ brand.id }}</td>
        </tr>
        <tr>
            <th>Adı</th>
            <td>{{ brand.name }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ brand.slug }}</td>
        </tr>
        <tr>
            <th>Eklenme Tarihi</th>
            <td>{{ brand.createdAt ? brand.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Güncelenme Tarihi</th>
            <td>{{ brand.updatedAt ? brand.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
