<div class="row">
    {% if products %}
        {% for product in products %}
            <div class="col-md-3">
                <a href="{{ path('web_product_show',{'slug':product.slug}) }}">
                    <div class="card">
                        <img class="card-img-top" src="{{ product.image ? asset('uploads/image/' ~ product.image) : asset('assets/img/noimage.png') }}" alt="{{ product.name }}">
                        <div class="card-body">
                            <h6 class="card-title" title="{{ product.name }}">{{ product.name|slice(0,20) }}</h6>
                            <span class="badge badge-danger p-2">{{ product.price|number_format(2,',','.') }} {{ currency_unit() }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
       <div class="col-md-12">
           <div class="alert alert-danger m-0">Şu anda hiç ürün bulunmamaktadır.</div>
       </div>
    {% endif %}
</div>