{% extends 'web/layout/base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image ? asset('uploads/image/' ~ product.image) : asset('assets/img/noimage.png') }}" alt="{{ product.name }}" class="w-100">
        </div>
        <div class="col-md-6">
            <h4>{{ product.name }}</h4>
            <div>Marka : {{ product.brand ? product.brand.name : 'Diğer' }}</div>
            <div class="badge badge-danger p-3 mt-4">{{ product.price|number_format(2,',','.') }} {{ currency_unit() }}</div>
            {% if product.stock > 0 %}
                <form action="" class="mt-4" id="addBasketForm">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <div class="form-group">
                        <label for="piece">Adet : </label>
                        <input type="number" id="piece" name="piece" class="form-control" max="{{ product.stock }}" step="1" min="1" value="1">
                    </div>
                    <button type="submit" class="btn btn-success">Sepete Ekle</button>
                </form>
            {% else %}
                <div class="alert alert-warning">Tüm stoklar tükenmiştir.</div>
            {% endif %}
        </div>
        <div class="col-md-12 mt-4">
            <h4>Açıklama</h4>
            {% if product.description %}
                <p>{{ product.description|raw }}</p>
            {% else %}
                <div class="alert alert-warning">Ürün açıklaması bulunmuyor.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        const urls = {
            addBasket: "{{ path('web_add_basket') }}",
            login: "{{ path('app_login') }}"
        };

        const user = Boolean('{{ app.user ? true : false }}');

        $(document).ready(function () {

            const basketItemPiece = $('#basketItemPiece');
            const addBasketForm = $('#addBasketForm');

            const button = addBasketForm.find('button[type="submit"]');

            addBasketForm.submit(function (e) {
                e.preventDefault();
                if (!user) window.location.href = urls.login;
                $.ajax({
                    type: 'POST',
                    url: urls.addBasket,
                    data: addBasketForm.serialize(),
                    beforeSend: function () {
                        button.attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        if (!data.status) return toastr.error(data.message);
                        toastr.success(data.message);
                        basketItemPiece.html(data.basket_count ? data.basket_count : 0)
                    },
                    complete: function () {
                        button.removeAttr('disabled');
                    }
                })
            })

        });
    </script>
{% endblock %}